/* 
primary: #eb2f64
primary light: #FF3366
primary dark: #BA265D

grey light 1: #faf9f9
grey light 2: #f4f2f2
grey light 3: #f0eeee
grey light 4: #ccc

--color-grey-dark-1: #333
--color-grey-dark-2: 777
--color-grey-dark-3: #999

*/

:root {
    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: 777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);


    --line: 1px solid var(--color-grey-light-2);
}

/* variables for media queries */
$bp-largest: 75em; // 1200px / 16px
$bp-large: 68.7em; // 1100 / 16
$bp-medium: 53.125em; // 900 / 16
$bp-small: 37.5em; // 600 / 16
$bp-xsmall: 31.25em;


* {
    margin: 0;
    padding: 0;
}

/* all elements will inherit */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html { 
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px; 10px/16px = .625 */

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;  // 8px / 16px = .5

    }
}

body {
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-2);
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background: cover no-repeat;

    min-height: 100vh
}













